.icons-size {
    width: 192px;
    height: 67px;
    margin: 0px 12px;
    pointer-events: none;
}

.slide-scroll {
    animation: slide 20s linear infinite;
}

.slide-scroll:hover {
    animation-play-state: paused;
}

@keyframes slide {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}