@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
}
ul li a {
    transition: all 300ms linear;
  }
  ul li a:hover  {
    -webkit-text-stroke: #000 1px;
  }